/* Home */
#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #1e90ff, #ff6347);
    color: white;
    text-align: center;
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

#home p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    animation: fadeIn 1.5s ease-in-out;
}
