/* Projects */
#projects {
    background-color: #fff;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    width: 250px;
    height: 250px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project p {
    font-size: 1.1rem;
    color: #333;
}
